extends layout/layout

block content
  div(class="container text-center")
    div(class="page-header")
      h1= title
    div(class="row")
      each f in functions
        div(class="col-xs-12 col-xs-offset-1 col-s-6 well well-sm rounded")
          unless f.argument
            h4= f.name
            a(href= '/scripts/' + f.api)
              button(type='button', class="btn-default")= f.executionName
            p= f.description
          if f.argument
            form(action='/scripts/' + f.api, role="form", method="post")
              h4= f.name
              input(type="text",name="argument",value=f.argument)
              input(type="submit",value=f.executionName)
              p= f.description
    div(class="row")
      each f in utilities
        div(class="col-xs-12 col-xs-offset-1 well well-sm rounded" style="background:#FF0000")
          h4= f.name
          a(href= '/scripts/' + f.api)
            button(type='button', class="btn-default")= f.executionName
          p= f.description
